body{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    
}
.poly{
    clip-path: polygon(4% 0%, 100% 0, 100% 80%, 96% 100%, 0 100%, 0% 23%);
    
}

.buynow{
   clip-path: polygon(8.4% 0, 100% 0%, 100% 100%, 0 100%, 0 36%);
    width: 220px;
    overflow: hidden;
}
.trailer{
    clip-path: polygon(0% 0%, 100% 1%, 100% 68%, 92.5% 100%, 0% 100%);
    width: 220px;
    z-index:2;
    
}
.menu{
    height: 48px;
    align-items: center;
    width: fit-content;
   padding: 8px 20px;
   font-family: "Blender Pro Book";
   font-size:25px;
}
.menu:hover{
    background-color: yellow;
    color: black;
    font-family: "Blender Pro Book";
   font-size:25px;
   font-weight:400;
    
}
.header{
    background-image: url(https://www.cyberpunk.net/build/images/keyart-v-desktop@1x-9bda879d.png), url(https://www.cyberpunk.net/build/images/keyart-bg-desktop-en@2x-8cc96f38.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: top, 50%;
    height: 100vh;
    background-size: contain,cover;
}


.summary{
    background-image: url(https://www.cyberpunk.net/build/images/noise-gradient-af9cb7ed.png), url(https://www.cyberpunk.net/build/images/noise-pattern-90c709f6.png);
    background-repeat: repeat-x, repeat-x;
    background-position: center top, center top 440px;
    height:440px;
    margin-top:-249px;
    display:flex;
    flex-direction: column;
    align-items:center;
    z-index: 0;
    font-family: "Blender Pro Book";   
}
.summary::before{
    background-image:url(https://www.cyberpunk.net/build/images/dots-yellow@1x-f6a7ee4b.png);
    background-repeat: repeat-x;
    position: absolute;
    content: "";
   height: 100%;
   width:100%;
   display: block;
   margin-top: 85px;
}

.summary-content{
    padding: 50px 20px;
    width: 800px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top:87px;
    font-size: 25px;
}
h2{
    text-align: center;
    font-size: 45px;
    color: #f3e500;
    font-weight: 500;
}
.mission-briefing{
    background-image:url(https://www.cyberpunk.net/build/images/noise-pattern-90c709f6.png);
    
    position: relative;
    padding:70px 10px;
    font-family: "Blender Pro Book";
    font-weight: 900;    
}

.mission-briefing::after{
    content:"";
    background-image: url(https://www.cyberpunk.net/build/images/razor-red-16da11da.svg);
    position: absolute;
    height: 35px;
    width:100%;
    bottom: 0;   
}
.mission{
float: left;
width: 25%;
padding:10px;
font-size:60px;
color:white;    
}

.objective{
cursor: pointer;
filter: blur(5px);
}

.objective:hover,.objective:active{
filter:blur(0px);
}
.mission-navi::after{
    content: "";
    display:table;
    clear: both;
}

.mission_expanded{
position:relative;
display:none;
width:70%;
translate:20%;
padding:30px 0px;
}

#imgtext{
position:absolute;
top:135px;
right:-175px;
left:750px; 
color:whitesmoke;
font-size: 24px;
font-weight: 500;
}

.closebtn{
position:absolute;
top:15px;
right:35px;
color:#f3e500;
font-size:55px;
cursor:pointer;
}
.dossiers{
    align-items: center;
    background-color: #fc012a;
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
    height: 100%;
    width: 100%;
    position: relative;   
}

.dossiers::after{
    background-image:url(https://www.cyberpunk.net/build/images/razor-bottom-red-dc130709.svg),url(https://www.cyberpunk.net/build/images/noise-pattern-90c709f6.png);
    height: 21px;
    bottom:0;
    position:absolute;
    content:"";
    width:100%;
    left: 0;   
}
.swiper{
margin-left: 0;
margin-right: 0;
padding: 0;
display: block;
width: 100%;
height: 100%;
position: relative;
}
.characters{
    display: flex;
    height: 100%;
    width: 100%;
   position: relative;     
}

.dossiers_characters{
    display:flex;
    box-sizing: border-box;
    flex-direction:column;
    align-items:center;
    height: 100%;
    width: 100%;
    justify-content: flex-end;  
    padding-top:620px; 
}

.dossiers_characters:hover{
    padding-top:414px;
}
.dossiers_characters:hover .dossiers_content{
    display:block;
     animation: fade_in_show 0.3s ease-in-out;
}

@keyframes fade_in_show{
  0%{
    opacity:0;
    transform: scale(0);
  }
  100%{
    opacity:1;
    transform: scale(1);
  }
}

.swiper .dossiers_characters img{
    display: block;
    height:45.8vw;  
    position:absolute;
} 

.dossiers_content{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 8px;
    width:33.53vw;
   z-index:2;
   overflow:hidden;
   padding-left: 20px;
   display:none;
   
}
.dossier_name{
   font-size: 40px;
    font-weight: 700;
    font-family: sans-serif;
}
.h3{
    font-family: "Blender Pro Book";
    font-size: 60px;
    font-weight: 800;
}

.sliders::after{
    margin-left:51px;
    margin-top: 10px;
    width: 15px;
    height: 25px;
}

.myers::after{
    margin-left: 64px;
}
.songbird::after{
    margin-left: 49px;
}
.alex::after{
    margin-left: 71px;
}
.hansen::after{
    margin-left: 57px;
}
.details{
  font-size:20px;
  line-height: 120%;
  font-family: "Blender Pro Book";
  
}

.media{
    padding:30px;
    background-image:url(https://www.cyberpunk.net/build/images/noise-pattern-90c709f6.png);
    display:flex;
    flex-direction: column;
}

.screenshot{
    display: flex;
    overflow: auto;
    white-space: nowrap;
    padding:25px 10px 35px 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.screenshot::-webkit-scrollbar{
    display: none;
}
.screenshot img{
    margin:10px;
    border: 4px solid #f3e500;
}
.media_content{
    color: #f3e500;
    font-size:30px;
    padding-left: 20px;
}

.outro{
    background-image: url(https://www.cyberpunk.net/build/images/dots-desktop-media-bottom-1de51ca5.png),url(https://www.cyberpunk.net/build/images/noise-pattern-90c709f6.png);
    background-repeat: repeat-x,repeat;  
    background-position:20px, center;
    width:100%;
    margin-top: -75px;
    padding:184px 24px 80px 24px;
    position: relative;

}

.outro::after{
    background-image: url(https://www.cyberpunk.net/build/images/razor-yellow-89162485.svg);
    content: "";
    position: absolute;
    bottom:0;
    height:24px;
    left:0;
    right:0;
}

.outro_s{
   padding: 30px;
}
.outro_details{
    background-image: url(https://www.cyberpunk.net/build/images/banner-cp77-en@2x-25e93cd0.jpg);
    background-position: left;
    background-size: auto 100%;   
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height:480px;
    padding-left: 66%;
    padding-right: 5.8vw;
    
}
.outro_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    text-align: center;
    padding: 100px 0px;
    
    
}
.outro_content h3{
    font-size: 45px;
    font-weight: 900;
    line-height: 100%;
}
.outro_buttons{
    display: flex;
    flex-direction: row;
    gap: 17px;
}

.outro_buttons div{
    background-color: #fc012a;
    width: 15vw;
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 5px;
    font-weight: 900;
    font-family: "Blender Pro Book";
    clip-path: polygon(0% 0%, 100% 0, 100% 66%, 90% 100%, 0% 100%);
}